body {
    background-color: #916CAD;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #523874;
    max-width: 850px; 
    margin: 0 auto; 
    padding: 1rem;
    min-height: 100dvh;
    font-family:'Trebuchet MS';
}

header {
    position: sticky;
    top: 0;
    padding: 0.5rem;
    background-color: #523874;
}

#inputSection { 
    display: none;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    position: sticky;
    top: 0;
    padding: 0.5rem;
    background-color: #523874;
}

#inputSection .input-group, #dynamicFields {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input[type="text"] {
    padding: 0.5rem;
    outline: none;
    background-color: #523874;
    color: #C7FBA5;
    font-size: 0.8rem;
}

input[type="text"]::placeholder {
    color: #ADF182;
}

#searchSection { 
    display: none;
    padding: 1rem;
    flex-direction: column;
    gap: 1rem;
    position: sticky;
    top: 0;
    padding: 0.5rem;
    background-color: #523874;
    gap: 5px; 
}

button { 
    cursor: pointer; 
    padding: 5px 10px; 
    font-size: 1rem;
    background-color: #523874;
    border: 1px solid #C7FBA5;
    color: #C7FBA5;
}

button:hover {
    background-color: #C7FBA5;
    color: #523874;
}

.item-card { 
    color: #C7FBA5;
    border: 1px solid #C7FBA5; 
    padding: 10px; 
    margin: 5px 0; 
}

#modal-msg {
    position: sticky;
    top: 0;
    z-index: 50;
}
  
.modal {
    background: #fff;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 2px 10px #C7FBA5;
    color: #C7FBA5;
    background-color: #523874;
    animation: slideIn 0.3s ease-in-out;
    margin-bottom: 1rem;
}
  
@keyframes slideIn {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}

.empty-list {
    color: #C7FBA5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    font-family: Arial;
    font-size: 2rem;
    font-weight: 650;
}

#error-notification {
    display: none;
}