@import "tailwindcss";

:root {
    --background-primary: #000000;
    --eva-body: #1A1A1A;
    --primary: #212121;
    --eva-seele-color: #B71C1C;
    --eva-lcl-liquid: #FF8C00;
    --eva-unit-13-awaken: #FFFFFF;
    --border-color: #444444;
    --card-bg: #2D2D2D;
}
