@import "tailwindcss";

:root {
    --evangelion-inner: #1A1A1A;
    --evangelion-00: #ed9322;
    --evangelion-01: #765898;
    --evangelion-03: #32364f;
    --evangelion-08: #db819e;
    --evangelion-13: #5a5384;
    --mass-production-eva: #f5f5f5;

    --dark-purple: #420039;
    --magenta-haze: #932F6D;
    --orchid: #E07BE0;
    --periwinkle: #DCCCFF;
    --magnolia: #F6F2FF;
}
