:root {
    --royal-purple: #7B4B94;
    --glaucous: #7D82B8;
    --celadon: #B7E3CC;
    --tea-green: #C4FFB2;
    --mindaro: #D6F7A3;
}

body {
    background-color: var(--glaucous);
    padding: 0;
    margin: 0;
}

header {
    border-bottom: 1.5px solid var(--tea-green);
    background-color: var(--royal-purple);
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

header a {
    text-decoration: none;
    font-family: monospace;
    font-size: 1rem;
    font-weight: 600;
    color: var(--celadon);
}

header button {
    background-color: var(--mindaro);
    border: none;
    border-radius: 0.4rem;
    box-shadow: 3px 3px var(--glaucous);
    color: var(--royal-purple);
    cursor: pointer;
    padding: 0.4rem;
    font-family: monospace;
    font-weight: 600;
    font-size: 0.9rem;
}

#chosen-products-list {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 77.5dvh;
    overflow-y: auto;
}

#chosen-products-list::-webkit-scrollbar {
    display: none;
}

#chosen-products-list .product-card {
    display: flex;
    align-items: start;
    gap: 1rem;
    border-radius: 1.1rem;
    box-shadow: 0 4px var(--tea-green);
    background-color: var(--royal-purple);
    font-weight: 600;
    font-size: 1rem;
    font-family: monospace;
    color: var(--celadon);
    padding: 1rem;
}

#chosen-products-list .product-card .product-image-wrapper {
    width: 120px;
    height: 120px;
}

#chosen-products-list .product-card .product-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

#chosen-products-list .product-card .product-metadata {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#chosen-products-list .product-card .product-metadata .button-wrap {
    display: flex;
    gap: 0.7rem;
}

#chosen-products-list .product-card .product-metadata button {
    background-color: var(--mindaro);
    border: none;
    border-radius: 0.4rem;
    box-shadow: 3px 3px var(--glaucous);
    color: var(--royal-purple);
    cursor: pointer;
    padding: 0.4rem;
    font-family: monospace;
    font-weight: 600;
    font-size: 0.9rem;
}

#chosen-products-list .product-card .product-metadata input[type="text"] {
    background-color: var(--mindaro);
    border: none;
    outline: none;
    border-radius: 0.4rem;
    box-shadow: 3px 3px var(--glaucous);
    color: var(--royal-purple);
    padding: 0.4rem;
    font-family: monospace;
    font-weight: 600;
    font-size: 0.9rem;
}

#cart-footer {
    border-top: 1.5px solid var(--tea-green);
    background-color: var(--royal-purple);
    padding: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    font-family: monospace;
    font-weight: 600;
    font-size: 1rem;
    color: var(--tea-green);
}

#cart-footer button {
    background-color: var(--mindaro);
    border: none;
    border-radius: 0.4rem;
    box-shadow: 3px 3px var(--glaucous);
    color: var(--royal-purple);
    cursor: pointer;
    padding: 0.4rem;
    font-family: monospace;
    font-weight: 600;
    font-size: 0.9rem;
}