body {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

header {
    box-shadow: 0 0 6px inset rgba(0, 0, 0, 0.3);
    padding: 1rem;
    border-radius: 1rem;
}

main#detail {
    max-width: 1200px;
    box-shadow: 0 0 6px inset rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 0.55fr 300px;
    gap: 2rem;
    align-items: start;
    font-family: Arial;
}

main#detail > #detail-images {
    position: relative;
    overflow: hidden;
    aspect-ratio: 1/1;
    margin-bottom: 1rem;
}

main#detail > #detail-images > #carousel-wrap {
    display: flex;
    height: 100%;
    width: 100%;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: transform;
}

main#detail > #detail-images > #carousel-wrap .image-wrap {
    flex: 0 0 100%;
    position: relative;
}

main#detail > #detail-images > #carousel-wrap .image-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main#detail .navigation button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.3);
    border: none;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    backdrop-filter: blur(5px);
}

#prev-button {
    left: 15px;
}

#next-button  {
    right: 15px;
}

main#detail .image-metadata .button-wrap {
    display: flex;
    gap: 0.4rem;
}

main#detail .image-metadata .button-wrap #edit-mode {
    border: none;
    background-color: blueviolet;
    color: white;
    font-family: Arial;
    cursor: pointer;
    padding: 0.4rem;
    border-radius: 0.4rem;
    font-size: 0.9rem;
    width: 92px;
}

main#detail .image-metadata .button-wrap #delete-button {
    border: none;
    background-color: black;
    color: white;
    font-family: Arial;
    cursor: pointer;
    padding: 0.4rem;
    border-radius: 0.4rem;
    font-size: 0.9rem;
    width: 92px;
}

@media (max-width: 768px) {
    main#detail {
        grid-template-columns: 1fr;
    }
    
    #image-title, #image-category {
        text-align: center;
        padding: 0 1rem;
    }
}