@import "tailwindcss";

:root {
    --anti-flash-white: #E7ECEF;
    --yin-mn-blue: #274C77;
    --air-superiority-blue: #6096BA;
    --uranian-blue: #A3CEF1;
    --battleship-gray: #8B8C89;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #274C77;
}

::-webkit-scrollbar-thumb {
    background: #A3CEF1;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #abd4f5;
}